@model IEnumerable<mrkdoc.Models.ContentMD>

<style>
.res h1,.res h2,.res h3,.res h4,.res h5,.res h6,.res p,.res {
    font-size: 1rem;
    color: #808080;
}
</style>
<h5>Результаты поиска</h5>
<hr/>
<a asp-action="Index" class="btn btn-sm btn-light" style="float:right;margin-left:12px;">Назад</a>

<form asp-action="Search">
    @foreach (var item in Model)
    {
    <div class="row res">
        <div class="col-md-10">
            <a asp-action="ViewPage" asp-route-searchText="@ViewData["SearchText"]" asp-route-dirname="@item.Path" asp-route-filename="@item.FileName">
                @item.TopicName
            </a>
            <div style="margin-left:6px; padding:3px">
            @Html.Raw(@item.Content)
            </div>
        </div>
    </div>
    }
    @if(Model.Count()<1){
        <p>Нет подходящих статей по фразе: <b>@ViewData["searchText"]</b></p>
    }
</form>
